<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/head") -%>
    <title>Servicios </title>
</head>
<body>
  <section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Hospital <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->


			<!-- en esta parte entra el usario  -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					<img src="./assets/img/madara.jpg" alt="UserIcon">
					<figcaption class="text-center text-titles">aljand</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- fin del div usario en esta parte entra el usario  -->
			

			<!-- SideBar Menu -->
			<!-- esto es para los menus retractiles -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="/home">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Internación <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/sala"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Salas</a>
						</li>
						<li>
							<a href="/camas"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Camas</a>
						</li>
					</ul>
				</li>			
			</ul>
		</div>
  </section>
    
    <section class="full-box dashboard-contentPage">
        <nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">7</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
        </nav>
       
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"><i class=""></i> Servicios <small></small></h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                              <li class="active"><a href="#new" data-toggle="tab">New</a></li>
                              <li><a href="#list" data-toggle="tab">List</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="new">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <form action="/servicio" method="POST">
                                                <div class="form-group label-floating">
                                                  <label class="control-label">Descripcion</label>
                                                  <input class="form-control" type="text" name="descripcion">
                                                </div> 
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Sigla</label>
                                                    <input class="form-control" type="text" name="sigla">
                                                </div>                                           
                                
                                                <p class="text-center">
                                                    <button class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list">
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Sigla</th>
                                                <th class="text-center">Fecha de Creacion</th>
                                                <th class="text-center">Fecha de Actualizacion</th>
                                                <th class="text-center">Actualizar</th>
                                                <th class="text-center">Eliminar</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < resp.length; i++) { %>
                                            <tr>
                                                <td><%= i + 1 %></td>
                                                <td><%=resp[i].descripcion %></td>
                                                <td><%=resp[i].sigla %></td>
                                                <td><%=resp[i].createdAt %></td>
                                                <td><%=resp[i].updatedAt %></td>
                                                
                                                <td><a href="/api/servOne/<%= resp[i].id %>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                <td><a href="/api/DElserv/<%= resp[i].id %>" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <ul class="pagination pagination-sm">
                                                  <li class="disabled"><a href="#!">«</a></li>
                                                  <li class="active"><a href="#!">1</a></li>
                                                  <li><a href="#!">2</a></li>
                                                  <li><a href="#!">3</a></li>
                                                  <li><a href="#!">4</a></li>
                                                  <li><a href="#!">5</a></li>
                                                  <li><a href="#!">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") -%>
</body>
</html>